.app{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    
    .nav{
        width: 20%;
        background-color: rgb(26, 126, 201);

    }

    .section{
        width: 80%;
        display: relative;
        background-color: rgb(219,226, 236);

        .container{
            display: flex;
            
        }
        
    }
}